
<div class="container w-100">

  <div class="row w-100 mt-5">
    <div class="col-md-12">
      <h1 class="text-monospace text-center"> Sejam bem vindes ao meu blog! </h1>
    </div>
  </div>

  <div class="row w-100 mt-4 mb-4">
    <div class="col-md-12">
      <p class="text-justify text-monospace">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates dolore distinctio non illum in modi. Reprehenderit excepturi esse eum autem, cumque eveniet distinctio dolores. Nihil explicabo autem maxime perspiciatis inventore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam commodi ab natus consequatur veniam, rerum optio labore quisquam vitae? Ipsa fugit facere corporis placeat accusantium impedit vitae, aperiam ad nesciunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quidem, tempora, iure impedit veniam incidunt odio explicabo iusto culpa at laboriosam nesciunt minima cumque adipisci nobis obcaecati totam. Eveniet, sequi.
      </p>

      <!--Inicio Cards-->
      <div class="row">
        <div class="col-md-4">
          <figure class="snip0057 red">
            <figcaption>
              <h2>Victoria <span>Pena</span></h2>
              <p>A voice crackles in Calvin's radio: "Enemy fighters at two o'clock!" "Roger. What should I do until then?"</p>
              <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample4.jpg" alt="sample4"/></div>
            <div class="position">Illustrator</div>
          </figure>

        </div>

        <div class="com-md-4">
          <figure class="snip0057 blue">
            <figcaption>
              <h2>Tiffany <span>Case</span></h2>
              <p>That's the whole problem with science. You've got a bunch of empiricists trying to describe things of unimaginable wonder.</p>
              <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sample3"/></div>
            <div class="position">Software Engineer</div>
          </figure>
        </div>

        <div class="col-md-4">
          <figure class="snip0057 blue">
            <figcaption>
              <h2>Tiffany <span>Case</span></h2>
              <p>That's the whole problem with science. You've got a bunch of empiricists trying to describe things of unimaginable wonder.</p>
              <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
            </figcaption>
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sq-sample3.jpg" alt="sample3"/></div>
            <div class="position">Software Engineer</div>
          </figure>
        </div>

      </div>
    </div>
  </div>
</div>

  <div class="parallax"></div>

  <div class="row w-100 mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
      <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
    </div>
  </div>

