
<html>
  <head>

  </head>
  <body>
    <div class="area"></div>
        <nav class="main-menu">
            <ul>
                <li>
                    <a routerLink='/home'>
                      <fa-icon [icon]="faFlag" class="fa-2x p-3 mr-2"></fa-icon>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                </li>

                <div *ngIf='auth.btnLogin()'>
                  <li class="has-subnav" >
                      <a routerLink='/login'>
                        <fa-icon [icon]="faUser" class="fa-2x p-3 mr-2"></fa-icon>
                          <span class="nav-text">
                              Login
                          </span>
                      </a>
                  </li>
                </div>

                <div *ngIf='auth.btnLogin()'>
                  <li class="has-subnav">
                    <a routerLink='/cadastro'>
                      <fa-icon [icon]="faAddressCard" class="fa-2x p-3 mr-2"></fa-icon>
                        <span class="nav-text">
                            Cadastro
                        </span>
                    </a>
                </li>

                </div>


                <li class="has-subnav" >
                    <a routerLink='/feed'>
                      <fa-icon [icon]="faNewspaper" class="fa-2x p-3 mr-2"></fa-icon>
                        <span class="nav-text">
                            Feed
                        </span>
                    </a>

                </li>

                <li>
                   <a routerLink='/cadastro-tema'>
                    <fa-icon [icon]="faClipboard" class="fa-2x p-3 mr-2"></fa-icon>
                        <span class="nav-text">
                            Temas
                        </span>
                    </a>
                </li>

            </ul>

            <ul class="logout" *ngIf='auth.btnSair()'>
                <li>
                   <a routerLink='/login' (click)='sair()'>
                    <fa-icon [icon]="faTimesCircle" class="fa-2x p-3 mx-2"></fa-icon>
                        <span class="nav-text" >
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
  </body>
</html>
