<div class="card border-2 mb-3" style="width: 18rem;">
<div class="d-flex justify-content-center">
  <img class="card-img-top rounded-circle w-75" src="https://i.imgur.com/1WY6sOL.png" alt="Card image cap">
</div>


  <div class="card-body">
    <h5 class="card-title text-center text-monospace">Danilo Alves</h5>
    <p class="card-text text-center text-monospace">Aluno e Desenvolvedor Web/Java na Generation Brasil</p>

    <a href="" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">LinkedIn</a>
    <a href="" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">GitHub</a>
  </div>
</div>
